# Core Dependencies
pydantic
networkx
sentence-transformers
rank-bm25
numpy
chromadb
sqlalchemy
unstructured
pdf2image
watchdog
fastapi
uvicorn
requests
python-multipart

# LLM & Orchestration
langgraph
langchain-core
langsmith
groq

# Observability
opentelemetry-api
opentelemetry-sdk

# Utilities
python-dotenv
rich


# Dev Dependencies
black
isort
autoflake
flake8
mypy

# Generator Dependencies
faker
json-repair